@font-face {
  font-family: "BobsBurgers2";
  src: url("BobsBurgers2.svg#BobsBurgers2") format("svg"),
    url("BobsBurgers2.ttf") format("truetype"),
    url("BobsBurgers2.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BobsBurgers2";
  src: url("BobsBurgers2.eot");
  src: url("BobsBurgers2.eot?#iefix") format("embedded-opentype"),
    url("BobsBurgers2.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
